
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  
 
}
.bg{
    background:#F0FFF0;
}
.nav-section{
    width: 1440px;
    height:567px;
    
  
}
.navbar-light .navbar-nav .nav-link {
    color:black;
}

.button{
    padding:12px 28px;
    border-radius:33px;
    background-color: #21B573;
    color:white !important;
    width:104px;
    text-align:center;

}
.left-side{
    margin-top: 50px;
}
.learn-color{
    color:red;
}
h1{
    font-weight:bold;
}
h1 span{
    color:#21B573;
}

/*-----------------nav-section-end-------------------*/

.book-section{
    margin-top: 50px;
}
.inside-div{
    width:270px;
    height:270px;
 }
 .inside-div:hover{
     box-shadow:5px 5px 16px lightgray;
     border-radius:10px;
 }  
.inside-div a img{
    display: block;
    margin:0 auto;
    
}
.inside-div h6{
    
    font-weight:bold;
    text-align:center;
    font-size:26px;
}
.inside-div p{
    text-align:center;
    color:gray;
}

/*-------------------book-section-end-----------------*/