*{
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  
 
}

.bg{
    background:#F0FFF0;
}
.nav-section{
    width: 1440px;
    height:567px;
    background:#F0FFF0;
  
}
.navbar-light .navbar-nav .nav-link {
    color:black;
}

.button{
    padding:12px 28px;
    border-radius:33px;
    background-color: #21B573;
    color:white !important;
    width:104px;
    text-align:center;

}
.left-side{
    margin-top: 50px;
}
.learn-color{
    color:red;
}
h1{
    font-weight:bold;
}
h1 span{
    color:#21B573;
}

/*-----------------nav-section-end-------------------*/

.book-section{
    margin-top: 50px;
}
.inside-div{
    width:270px;
    height:270px;
 }
 .inside-div:hover{
     box-shadow:5px 5px 16px lightgray;
     border-radius:10px;
 }  
.inside-div a img{
    display: block;
    margin:0 auto;
    
}
.inside-div h6{
    
    font-weight:bold;
    text-align:center;
    font-size:26px;
}
.inside-div p{
    text-align:center;
    color:gray;
}

/*-------------------book-section-end-----------------*/

.card-section{
    margin-top:50px;
}
.container h2{
    color:#413960;
    font-weight:700;
    font-size:36px;
    text-align:center;
    margin-top:50px;
}
.card{
    border:none;
    box-shadow:10px 5px 10px lightgray;
    border-radius:10px
    
}
.card-footer{
    background:none;
    border-top:0px;
}
.card-footer p{
    color:#585859;
    font-size:16px;
}
/* -------------------Card-section-end------------------*/

.testimonial-section {
    margin-top: 50px;
}
.testimonial-section img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
/*--------------------Testimonial-section-end---------------*/

footer{
    
    background-color: #282531;

}
.footer-section{
    width: 1440px;
    height:320px;
    color:white;
 
}
.footer-section .row{
    padding: 40px 40px;
}
.bold{
    font-weight:bold;
    font-size:24px;
    color:white !important;
    text-decoration: none;
}
.bold a{
    background-color:none;
    text-decoration:none;
    padding:20px;
}
.text-color{
    color:white;
}